
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 800px;
}

.link-container {
  display: flex;
  flex-direction: row;
}

.pink {
  background-color: black;
  margin: 50px;
  height: 50px;
  width: 150px;

  color: rgb(255, 172, 228);
}

.purple {
  background-color: black;
  margin: 50px;
  height: 50px;
  width: 150px;

  color: rgb(171, 135, 255);

}

.blue {
  background-color: black;
  height: 50px;
  width: 150px;

  margin: 50px;
  color: rgb(171, 255, 255);
  text-decoration: none;
}

h1 {
  font-family: 'Play', sans-serif;
}